:root {
    --light-grey: #80808080;
    --dark-grey: #31303080;

    --dark-navy: #070730;
    --light-navy: #0D1B4C;

    --red: #EB5757;

    --green: #27AE60;
    
    --yellow: #F2C94C;
}
/* Main area */
main {
    margin-left: 175px;
    color: white;
}
body {
    margin: 0;
    background-color: var(--light-navy);
}
.title-container {
    font-family: "Arial";
    background-color: var(--dark-navy);
}
.title-container h1 {
    margin: 0;
    padding: 15px;
    text-align: center;
}


/* Sidebar */
.sidebar {
    width: 175px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-navy);
    color: white;
}
.sidebar h2 {
    font-family: "Arial";
    margin-left: 20px;
}
.sidebar ul {
    list-style: none;
}
.sidebar li a {
    text-decoration: none;
    color: white;
}