{% extends "base.html" %} {% block content %}

    <h1>Stock Analysis</h1>
    <form method = "POST" action="{{ url_for('stock_analysis.stock_analysis') }}">

        <label for="stock-pick">Pick your stock: </label>
        <input type="text" id="stock-pick" name="stock-pick" value= "{{stock_pick}}" required>
        <button type="submit">Fetch data</button>
    </form>

    <hr>
        {{ table_html | safe }}
    <hr/>

    <div id="plotly-graph"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    

    <script>
        var graph = {{ json_graph | safe }};
        Plotly.plot("plotly-graph", graph.data, graph.layout);
    </script>

{% endblock %}